.selected{
    background-color:  rgb(224, 151, 40);
    height: 25px;
    width: 25px;
}
.onChoice{
    background-color:aquamarine;
    height: 25px;
    width: 25px;
}
.nonSelected{
    background-color: gray;
    border: 2px solid yellowgreen;
    height: 25px;
    width: 25px;
}